@using la_mia_pizzeria_crud_mvc.Models.DataBaseModels
@{
ViewData["Title"] = Model.Name;

@model Pizza
}



<div class="__pizza-details-ctn container d-flex flex-column align-items-center">
    <h1 class="card-title mb-1">@Model.Name</h1>
    <div class="__pizza-details-card card d-flex flex-column align-items-center">
        <div class="pt-5 px-1">
            <img class="card-img-top" src='@Model.ImageUrl' alt="Pizza image">

        </div>
        <div class="card-body text-center">            
            <p class="card-text">@Model.Description</p>
            <div class="d-flex justify-content-around">
                <p class="card-text"><strong>Price: </strong>@Model.Price €</p>          
                <p>
                    <strong>Category:</strong>
                    @if (Model.PizzaCategory != null)
                    {
                        <span>@Model.PizzaCategory.Name</span>
                    }
                    else
                    {
                        <span>No category available</span>
                    }
                </p>
            </div>
            <div class="__detail-btn-ctn d-flex gap-2 ">                
                                                                     
                <a  href="@Url.Action("Update", "Pizza", new { name = Model.Name })" class="btn btn-primary p-2 __edit-icon">
                    <i class=" fa-regular fa-pen-to-square"></i>
                </a>

                @await Html.PartialAsync("DeleteFormPartial")
                                       
            </div>                        
        </div>  
        
    </div>
    <div class="__btn-details-ctn d-flex gap-1 py-2 flex-wrap justify-content-center">
        <div class="">
            <a href="@Url.Action("Index", "Pizza")" class="btn btn-primary">Go Back to the pizzas list</a>
        </div>
        <div class="">
            <a href="@Url.Action("Index","Home")" class="btn btn-primary">Go back to the homepage</a>
        </div>
    </div>


</div>