@{
    ViewData["Title"] = "Our Pizzas";
}

<div class="d-flex justify-content-center flex-column text-center __pizza-index">
    <div class="__pizza-index-go-back-button">
        <a href="@Url.Action("Create","Pizza")" class="btn btn-primary">Create New Pizza</a>
    </div>
    <h1 class="display-4">These are our pizzas</h1>

    @* nella slide sintassi diversa da questa sotto  *@
    @model List<la_mia_pizzeria_crud_mvc.Models.Pizza>

    @if (Model.Count != 0)
    {
        <div class="d-flex justify-content-center  p-3 __pizza-container">
            @foreach (var pizza in Model)
            {
                <div class="card d-flex flex-column __pizza-card">

                    <img class="card-img-top" src='@(!string.IsNullOrEmpty(pizza.ImageUrl) ? pizza.ImageUrl : "/images/default_pizza.png")' alt="Pizza image">
                    <div class="card-body">
                        <h5 class="card-title">@pizza.Name</h5>
                        <p class="card-text">@pizza.Description</p>
                        <p class="card-text">@pizza.Price €</p>
                        <div class="__buttons-card-ctn d-flex gap-1 justify-content-between">
                            <a href="@Url.Action("Details", "Pizza", new { name = pizza.Name })" class="btn btn-primary">See details</a>
                            <a href="@Url.Action("Update", "Pizza", new { name = pizza.Name })" class="btn btn-primary">Edit this pizza</a>
                            <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.Id" method="post">
                                @Html.AntiForgeryToken()
                                
                                    <button type="submit" class="__delete-btn btn btn-danger p-2 btn-sm">
                                    <i class="fas fa-trash-can">
                                    </i>
                                    </button>
                                
                                
                            </form>




                        </div>
                    </div>                                   
                </div>
            }

        </div>
    }
    else
    {
        <div class="">
            <p>Sorry, we don't have any pizza available at the moment.</p>          

        </div>
    }
    
    
    <div class="__pizza-index-go-back-button">
        <a href="@Url.Action("Index","Home")" class="btn btn-primary">Go back to the homepage</a>
    </div>
    
</div>
